In [ ]:
"""
Vinicius Costa Gandolfi
"""

!pip install ortools
import numpy as np # Manipulação de Vetores
import pandas as pd # Manipulação de  Tabelas
from ortools.linear_solver import pywraplp # Solver Linear

Requirement already satisfied: ortools in /usr/local/lib/python3.7/dist-packages (9.1.9490)
Requirement already satisfied: absl-py>=0.13 in /usr/local/lib/python3.7/dist-packages (from ortools) (1.0.0)
Requirement already satisfied: protobuf>=3.18.0 in /usr/local/lib/python3.7/dist-packages (from ortools) (3.19.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from absl-py>=0.13->ortools) (1.15.0)

In [ ]:
# Distancia entre os Locais
import numpy as np
import pandas as pd

df = pd.DataFrame({
       "Local 1" : [   0. ,  162. ,  378.5,  765. , 1590. , 2430. , 3070. , 5020. ],
       "Local 2" : [ 162. ,    0. ,  215. ,  600. , 1540. , 2260. , 2900. , 5120. ],
       "Local 3" : [ 379. ,  215. ,    0. ,  392. , 1520. , 2060. , 2690. , 5060. ],
       "Local 4" : [ 765. ,  600. ,  392. ,    0. , 1450. , 1650. , 2300. , 4820. ],
       "Local 5" : [1590. , 1540. , 1520. , 1450. ,    0. , 2280. , 2770. , 3620. ],
       "Local 6" : [2430. , 2260. , 2060. , 1650. , 2280. ,    0. ,  642. , 4420. ],
       "Local 7" : [3070. , 2900. , 2690. , 2300. , 2770. ,  642. ,    0. , 4360. ],
       "Local 8" : [5020. , 5120. , 5060. , 4820. , 3620. , 4420. , 4360. ,    0. ]
       }, index = ["Local 1", "Local 2", "Local 3", "Local 4", "Local 5", "Local 6", "Local 7", "Local 8", ])

df

         Local 1  Local 2  Local 3  Local 4  Local 5  Local 6  Local 7  Local 8
Local 1      0.0    162.0    379.0    765.0   1590.0   2430.0   3070.0   5020.0
Local 2    162.0      0.0    215.0    600.0   1540.0   2260.0   2900.0   5120.0
Local 3    378.5    215.0      0.0    392.0   1520.0   2060.0   2690.0   5060.0
Local 4    765.0    600.0    392.0      0.0   1450.0   1650.0   2300.0   4820.0
Local 5   1590.0   1540.0   1520.0   1450.0      0.0   2280.0   2770.0   3620.0
Local 6   2430.0   2260.0   2060.0   1650.0   2280.0      0.0    642.0   4420.0
Local 7   3070.0   2900.0   2690.0   2300.0   2770.0    642.0      0.0   4360.0
Local 8   5020.0   5120.0   5060.0   4820.0   3620.0   4420.0   4360.0      0.0

In [ ]:
data = df.to_numpy()
data

array([[   0. ,  162. ,  379. ,  765. , 1590. , 2430. , 3070. , 5020. ],
       [ 162. ,    0. ,  215. ,  600. , 1540. , 2260. , 2900. , 5120. ],
       [ 378.5,  215. ,    0. ,  392. , 1520. , 2060. , 2690. , 5060. ],
       [ 765. ,  600. ,  392. ,    0. , 1450. , 1650. , 2300. , 4820. ],
       [1590. , 1540. , 1520. , 1450. ,    0. , 2280. , 2770. , 3620. ],
       [2430. , 2260. , 2060. , 1650. , 2280. ,    0. ,  642. , 4420. ],
       [3070. , 2900. , 2690. , 2300. , 2770. ,  642. ,    0. , 4360. ],
       [5020. , 5120. , 5060. , 4820. , 3620. , 4420. , 4360. ,    0. ]])

# Pinguço Viajante

Minimize $\sum_{j=1}^n$ $\sum_{i=1}^n$ $c_{ij, i≠j}$ * $x_{ij, i≠j}$

$\sum_{i=1, i≠j}^n$ $x_{ij}$ i = 1 para todo i = 1, 2, ..., n

$\sum_{j=1, i≠j}^n$ $x_{ij}$ j = 1 para todo j = 1, 2, ..., n

$u_{i}$ - $u_{j}$ ≤ n-1, 2 ≤ i ≠ j ≤ n

$x_{ij}$ ∈ {0, 1}  i, j = 1, 2, ..., n i ≠ j

$u_{i}$ ∈ $R^+$ i = 1, 2, ..., n


$x_j$ = {0, 1} ∀ j = 1... n

In [ ]:
# Inicializa o problema p que será resolvido com o solver
solver = pywraplp.Solver("Pinguço Viajante", pywraplp.Solver.CBC_MIXED_INTEGER_PROGRAMMING)

In [ ]:
x = {}
for i in range(len(data)):
  for j in range(len(data[0])):
    x[i, j] = solver.IntVar(0, 1, f"x[{i}, {j}]")
    print(x[i, j])

x[0, 0]
x[0, 1]
x[0, 2]
x[0, 3]
x[0, 4]
x[0, 5]
x[0, 6]
x[0, 7]
x[1, 0]
x[1, 1]
x[1, 2]
x[1, 3]
x[1, 4]
x[1, 5]
x[1, 6]
x[1, 7]
x[2, 0]
x[2, 1]
x[2, 2]
x[2, 3]
x[2, 4]
x[2, 5]
x[2, 6]
x[2, 7]
x[3, 0]
x[3, 1]
x[3, 2]
x[3, 3]
x[3, 4]
x[3, 5]
x[3, 6]
x[3, 7]
x[4, 0]
x[4, 1]
x[4, 2]
x[4, 3]
x[4, 4]
x[4, 5]
x[4, 6]
x[4, 7]
x[5, 0]
x[5, 1]
x[5, 2]
x[5, 3]
x[5, 4]
x[5, 5]
x[5, 6]
x[5, 7]
x[6, 0]
x[6, 1]
x[6, 2]
x[6, 3]
x[6, 4]
x[6, 5]
x[6, 6]
x[6, 7]
x[7, 0]
x[7, 1]
x[7, 2]
x[7, 3]
x[7, 4]
x[7, 5]
x[7, 6]
x[7, 7]

In [ ]:
u = {}
for j in range(len(data)):
  u[j] = solver.IntVar(0, n-1, f"u[{j}]")
  print(u[j])

u[0]
u[1]
u[2]
u[3]
u[4]
u[5]
u[6]
u[7]

In [ ]:
for i in range(n):
  solver.Add(solver.Sum([x[i, j] for j in range(n) if i != j]) == 1)

In [ ]:
for j in range(n):
  solver.Add(solver.Sum([x[i, j] for i in range(n) if i != j]) == 1)

In [ ]:
for i in range(1, n):
  for j in range(1, n):
    if i != j:
        solver.Add(u[i] - u[j] + n * x[i,j] <= n-1)
    else:
        solver.Add(u[i] - u[j] == 0)

In [ ]:
obj = []
for i in range(n):
  for j in range(n):
    if i!= j:
      obj.append(data[i, j] * x[i, j])
solver.Minimize(solver.Sum(obj))

In [ ]:
status = solver.Solve()
status

0

In [ ]:

print(f'Menor Caminho = {solver.Objective().Value()}m')
for i in range(n):
  for j in range(n):
    if x[i, j].solution_value() != 0:
      print(f"x[{i+1}, {j+1}], {x[i, j].solution_value()}")

Menor Caminho = 12631.0m
x[1, 5], 1.0
x[2, 1], 1.0
x[3, 2], 1.0
x[4, 3], 1.0
x[5, 8], 1.0
x[6, 4], 1.0
x[7, 6], 1.0
x[8, 7], 1.0